BasedOnStyle: Mozilla

# Ignore all comments because they aren't reflowed properly.
CommentPragmas: "^"

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

# All of the following items are default
# in the Mozila coding style from clang format 4.0
AlwaysBreakAfterReturnType: TopLevel
BinPackArguments: false
BinPackParameters: false
ReflowComments: false
